@model IEnumerable<BqsClinoTag.Models.TacheLieu>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Tasks by Location</h1>

<p>
    <a asp-action="Create">New</a>
</p>
<table class="table text-nowrap table-primary">
    <thead>
        <tr>
            <th>
                Location Name
            </th>
            <th>
                Task Name
            </th>
            <th>
                Task Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdLieuNavigation.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTacheNavigation.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTacheNavigation.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdTl">Modify</a> |
                <a asp-action="Details" asp-route-id="@item.IdTl">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdTl">Delete</a> |
                <a asp-action="Clone" asp-route-id="@item.IdTl">Clone</a>
            </td>
        </tr>}
    </tbody>
</table>
