@using System.Security.Claims
@using BqsClinoTag.Grool
@model IEnumerable<BqsClinoTag.Models.Materiel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles {
    <link rel="stylesheet" href="~/css/col-exp-panel.css" />
}
<h1>Matériel</h1>
<p>
    <a asp-action="Create">Nouveau</a>
</p>
@if (User.IsInRole(nameof(Droits.Roles.SUPERADMIN)) || User.IsInRole(nameof(Droits.Roles.ADMIN)))
{
    @await Html.PartialAsync("../Shared/_RechercheClient")
}
<table class="table">
    <thead>
        <tr>
            <th>
                Client
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UidTag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instruction)
            </th>  
            <th>
                Expiration (en minutes)
            </th>   
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdClientNavigation.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UidTag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instruction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Expiration)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdMateriel">Modifier</a> |
                <a asp-action="Delete" asp-route-id="@item.IdMateriel">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts {
    <script src="~/js/col-exp-panel.js"></script>
}