@model IEnumerable<ClinoTag.Models.Lieu>

@{
    ViewData["Title"] = "Lieu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lieu</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Lieu
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UidTag)
            </th>
            <th>
                Client
            </th>    
            <th>
                Tâche(s)
            </th>     
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UidTag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdClientNavigation.Nom)
            </td>
            <td>
                @item.TacheLieus.Count
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdLieu">Edit</a> |
                @*<a asp-action="Details" asp-route-id="@item.IdLieu">Details</a> |*@
                <a asp-action="Delete" asp-route-id="@item.IdLieu">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
