@using Microsoft.AspNetCore.Mvc.Rendering
@model BqsClinoTag.ViewModel.Activity.ActivityVM

@{
    ViewData["Title"] = "Activity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Activity</h1>

@section styles {
    <link rel="stylesheet" href="~/css/col-exp-panel.css" />
}

@await Html.PartialAsync("../Shared/_RechercheActivity")

<div class="my-container">
    <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8">
        @foreach (var item in Model.datas)
        {
            <div class="@((item.Progress == 1)? "PROGRESS":(item.Progress == 2)?"DONE":(item.ActionType == 1)?"ASKED":(item.ActionType == 2)?"DISTURB":"NONE")">
                <a asp-action="Asked" asp-route-id="@item.IdLieu" style="text-decoration:none;color:black !important;width:100%" >@Html.DisplayFor(modelItem => item.Nom)</a>
                    <div>
                        @if(item.IsCamera == 1 && item.Progress == 2)
                        {
                        <a asp-action="IsCamera" style="text-decoration:none;color:black !important" asp-route-id="@item.IdLieu">
                            <svg fill="#000000" height="30px" width="30px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 487 487" xml:space="preserve">
                            <g>
                            <g>
                            <path d="M308.1,277.95c0,35.7-28.9,64.6-64.6,64.6s-64.6-28.9-64.6-64.6s28.9-64.6,64.6-64.6S308.1,242.25,308.1,277.95z
			                 M440.3,116.05c25.8,0,46.7,20.9,46.7,46.7v122.4v103.8c0,27.5-22.3,49.8-49.8,49.8H49.8c-27.5,0-49.8-22.3-49.8-49.8v-103.9
			                v-122.3l0,0c0-25.8,20.9-46.7,46.7-46.7h93.4l4.4-18.6c6.7-28.8,32.4-49.2,62-49.2h74.1c29.6,0,55.3,20.4,62,49.2l4.3,18.6H440.3z
			                 M97.4,183.45c0-12.9-10.5-23.4-23.4-23.4c-13,0-23.5,10.5-23.5,23.4s10.5,23.4,23.4,23.4C86.9,206.95,97.4,196.45,97.4,183.45z
			                 M358.7,277.95c0-63.6-51.6-115.2-115.2-115.2s-115.2,51.6-115.2,115.2s51.6,115.2,115.2,115.2S358.7,341.55,358.7,277.95z" />
                                            </g>
                                            </g>
                                            </svg>

                            </a>
                        }
                    </div>
                    <div style="padding-right:10px">
                       @if (item.IsComment == 1 && item.Progress == 2)
                        {
                        <a asp-action="IsComment" style="text-decoration:none;color:black !important" asp-route-id="@item.IdLieu">

                                <svg fill="#000000" height="30px" width="30px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                     viewBox="0 0 489.7 489.7" xml:space="preserve">
                                <g>
                                <path d="M438.9,10.896H50.7c-28,0-50.7,22.7-50.7,50.7v277.4c0,28,22.7,50.7,50.7,50.7H62v81.7c0,6.6,8,9.9,12.7,5.2l86.9-86.9H439
                            c28,0,50.7-22.7,50.7-50.7v-277.4C489.7,33.596,467,10.896,438.9,10.896z M156.8,226.796c-14.6,0-26.4-11.8-26.4-26.4
	                        c0-14.6,11.8-26.4,26.4-26.4c14.6,0,26.4,11.8,26.4,26.4C183.2,214.896,171.4,226.796,156.8,226.796z M244.8,226.796
	                        c-14.6,0-26.4-11.8-26.4-26.4c0-14.6,11.8-26.4,26.4-26.4s26.4,11.8,26.4,26.4C271.2,214.896,259.4,226.796,244.8,226.796z
	                        M332.8,226.796c-14.6,0-26.4-11.8-26.4-26.4c0-14.6,11.8-26.4,26.4-26.4s26.4,11.8,26.4,26.4
	                        C359.2,214.896,347.4,226.796,332.8,226.796z" />
                                    </g>
                                    </svg>
                            </a>
                        }
                    </div>
            </div>
        }
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
        <div style="border: 2px solid black;padding:40px;margin:20px">
            <div style="background:green;height:30px;">
            </div>
            <p>
                AGENT visited the location
            </p>
            <div style="background:#8775F8;height:30px;">
            </div>
            <p>
                Action asked
            </p>
            <div style="background:#FEAA08;height:30px;">
            </div>
            <p>
                Action in progress
            </p>
            <div style="background:#FF0000;height:30px;">
            </div>
            <p>
                Do not disturb
            </p>
        </div>
        @if (Model.flag >= 1)
        {
            <div style="border: 2px solid black;padding:40px;margin:20px">
                @if (Model.flag == 1)
                {
                    <div style="padding-left:20px">
                        <h3>@Html.DisplayFor(modelItem => Model.lieu)</h3>
                    </div>

                    <div style="padding-left:20px">
                        <h3>@Html.DisplayFor(modelItem => Model.comment)</h3>
                    </div>
                }
                else if (Model.flag == 2)
                {
                    <div style="padding-left:20px">
                        <h3>@Html.DisplayFor(modelItem => Model.lieu)</h3>
                    </div>

                    <img style="width:340px;height:240px" src="data:image/jpeg;base64,@Model.photo" alt="Image" />
                }

                else if (Model.flag == 3)
                {
                    <h3>@Html.DisplayFor(modelItem => Model.lieu)</h3>
                    @foreach (var item in Model.tasks)
                    {
                        <div class="container">
                            @Html.DisplayFor(modelItem => item.Description)
                        </div>
                    }
                }
            </div>
        }
   </div>
</div>

<style>
    .DONE {
        display:flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 20px;
        padding: 20px;
        text-align: center;
        background: green !important;
        color: black;
    }
    .NONE {
        display: flex;
        width: 100%;
        margin-top: 20px;
        padding: 20px;
        text-align: center;
        background: #D9D9D9;
        color: black;
    }
    .ASKED {
        display: flex;
        width: 100%;
        margin-top: 20px;
        padding: 20px;
        text-align: center;
        background: #8775F8;
        color: black;
    }

    .PROGRESS {
        display: flex;
        width: 100%;
        margin-top: 20px;
        padding: 20px;
        text-align: center;
        background: #FEAA08;
        color: black;
    }

    .DISTURB {
        display: flex;
        width: 100%;
        margin-top: 20px;
        padding: 20px;
        text-align: center;
        background: red;
        color: black;
    }
</style>
@section Scripts {
    <script src="~/js/col-exp-panel.js"></script>
}