@model IEnumerable<ClinoTag.Models.Client>

@{
    ViewData["Title"] = "Client";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Client</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdClient">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdClient">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdClient">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
