@model BqsClinoTag.Models.Passage

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Passage</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DhDebut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DhDebut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DhFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DhFin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAgentNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAgentNavigation.IdAgent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdLieuNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdLieuNavigation.IdLieu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class = "col-sm-10">
            @if(Model.Photo != null)
            {
                <img src="data:image;base64,@System.Convert.ToBase64String(Model.Photo)" class="img-768" />
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdPassage">Modifier</a> |
    <a asp-action="Index">Retour à la liste</a>
</div>
