@model IEnumerable<BqsClinoTag.Models.Tache>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Tâche</h1>

<p>
    <a asp-action="Create">Nouveau</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdTache">Modifier</a> |
                <a asp-action="Details" asp-route-id="@item.IdTache">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdTache">Supprimer</a>
            </td>
        </tr>}
    </tbody>
</table>
