@model IEnumerable<BqsClinoTag.Models.Agent>

@{
    ViewData["Title"] = "Agent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Agent</h1>

<p>
    <a asp-action="Create">Nouveau</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdAgent">Modifier</a> |
                <a asp-action="Details" asp-route-id="@item.IdAgent">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdAgent">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
