@model IEnumerable<BqsClinoTag.Models.Agent>

@{
    ViewData["Title"] = "Agent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Agent</h1>

<p>
    <a asp-action="Create">New</a>
</p>
<table class="table text-nowrap table-primary">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Code
            </th>
            <th>
                Train Mode
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @if (item.TrainMode == true)
                {
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="1" id="flexCheckChecked" checked disabled>
                    </div>
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdAgent">Modify</a> |
                <a asp-action="Details" asp-route-id="@item.IdAgent">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdAgent">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
