@using System.Security.Claims
@using BqsClinoTag.Grool
@model IEnumerable<BqsClinoTag.Models.Lieu>

@{
    ViewData["Title"] = "Lieu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles {
    <link rel="stylesheet" href="~/css/col-exp-panel.css" />
}
<h1>Lieu</h1>
<p>
    <a asp-action="Create">Nouveau</a>
</p>
@if (User.IsInRole(nameof(Droits.Roles.SUPERADMIN)) || User.IsInRole(nameof(Droits.Roles.ADMIN)))
{
    @await Html.PartialAsync("../Shared/_RechercheClient")
}
<table class="table">
    <thead>
        <tr>
            <th>
                Lieu
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UidTag)
            </th>
            <th>
                Client
            </th>
            <th>
                Tâche(s)
            </th>
            <th style="display:flex; align-content:center">
                Link for API
                <div id="myButton" style="padding-left:10px" data-toggle="tooltip" class="myButton"
                     title="the link created is for guest<br>-ask a cleaning by adding to this link : &clean=yes<br>-or do not disturb by adding to this link : &clean=no<br>or ask something by adding to this link : &ask='need paper'<br>or add a contact to send when the room is made to this link &contact='greg@gmail.com'<br>or add customer satisfaction (0-5) by adding to this link : &satisfaction=5">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                        <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z" />
                    </svg>
                </div>
            </th>
            <th>
                Inventory
            </th>
            <th>
                QTY
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.OrderBy(x => x.Nom)) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UidTag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdClientNavigation.Nom)
            </td>
            <td>
                @item.TacheLieus.Count
            </td>
            <td id =@Html.DisplayFor(modelItem => item.IdLieu) style="display:flex">
                    <p style="display:none">@Html.DisplayFor(modelItem => item.PublicLink)</p>
                    <button style="border:none" class="copy" value=@Html.Raw(item.IdLieu) data-toggle="copytooltip"
                            title="link copied">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-clipboard-check-fill" viewBox="0 0 16 16">
                            <path d="M6.5 0A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3Zm3 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3Z" />
                            <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1A2.5 2.5 0 0 1 9.5 5h-3A2.5 2.5 0 0 1 4 2.5v-1Zm6.854 7.354-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708.708Z" />
                        </svg>
                </button>
            </td>
            <td>
                    @if(item.Inventory == true){
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="1" id="flexCheckChecked" checked disabled>
                        </div>
                    }
            </td>
                <td>
                    @if (item.Qty == true)
                    {
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="1" id="flexCheckChecked" checked disabled>
                        </div>
                    }
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdLieu">Modifier</a> |
                <a asp-action="Details" asp-route-id="@item.IdLieu">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdLieu">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts {
    <script src="~/js/col-exp-panel.js"></script>
}